/* Add your CSS to this file */

body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

/***
    // Landing page
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "NotoSans", sans-serif;
    font-size:18px;
***/

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "NotoSans", sans-serif;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

header .container>h1 {
    width: 310px;
    font-size: 18px;
}

header .container>nav {
    width: 300px;
    height: 50px;
}

header .container nav ul {
    list-style-type: none;
    padding: 0;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

header .container nav ul li {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

header .container nav ul li a {
    text-decoration: none;
    color: #6b7280;
}

header .container nav ul li a:hover {
    color: #5A67D8;
}

.overview-hero {
    width: 100vw;
    background-color: #E2E8F0;
}

.overview-hero .container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 300px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "NotoSans", sans-serif;
    font-size: 18px;
}

.overview-hero .container .overview-hero-image img {
    width: 250px;
}

.overview-hero .container .overview-hero-image {
    width: 300px;
    padding: 10px;
}

.overview-hero .container .overview-hero-text {
    max-width: 500px;
    padding: 10px;
}

.learn-about {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "NotoSans", sans-serif;
}

.learn-about .container h1, .learn-about .container h2, .learn-about .container h3 {
    color: #48BB78;
}

.learn-about .container h3 {
    font-size: 21px;
}

.learn-about .container .cards {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.learn-about .container .cards .card {
    width: 280px;
    height: 400px;
    box-shadow: 0px 0px 13px grey;
    border-radius: 5px;
    padding: 10px;
}

.learn-about .container .cards .card img {
    width: 280px;
    max-width: 400px;
    margin-bottom: 40px;
}

.testing {
    background-color: #4A5568;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "NotoSans", sans-serif;
    height: 300px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.testing .container {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.testing .container .testing-desciption
{
    width: 550px;
}

.cta
{
    width: 200px;
    height: 45px;
    background-color: #48BB78;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.cta > a
{
    color: white;
    text-decoration: none;
}

.stories
{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "NotoSans", sans-serif;
    margin-top: 90px;
}

.stories .container 
{
    max-width: 1000px;
}

.stories .container h2
{
    color: #48BB78;
}


.stories .container article
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.stories .container article img
{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    object-fit: cover;
    padding: 20px;
}

.stories .container article .article-body
{
   max-width: 70%;
   padding: 20px;
}

.stories .container article .article-body a
{
   color: #5A67D8;
   text-decoration: none;
   text-transform: capitalize;
}

.stories .container article .article-body p
{
  margin-top: 30px;
}

.stories .container article .article-body h3
{
   font-size: 18px;
   width: 70%;
}